<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Задачи</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/styles/trello.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/">Главная страница</a></li>
      <li><a href="/add-request">Создать заявку</a></li>
      <li><a href="/view-requests">Список заявок</a></li>
      <!--      <li><a href="/tasks">Задачи</a></li>-->
      <!--      <li><a href="/popular-requests">Популярные вопросы</a></li>-->
      <!--      <li><a href="/send-question">Задать вопрос</a></li>-->
    </ul>
  </nav>
</header>
<h1>Задачи</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="board-selection">
        <ul class="board-list">
          <li><a href="#" onclick="openBoard('bit-stroitelstvo')">Бит.Строительство</a></li>
          <li><a href="#" onclick="openBoard('zup-reg')">ЗУП (рег)</a></li>
          <li><a href="#" onclick="openBoard('ohrana-truda')">Охрана труда</a></li>
          <li><a href="#" onclick="openBoard('rabota')">Работа</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="board" id="bit-stroitelstvo">
        <div class="column" id="column-1">
          <div class="column-header">Обсуждение</div>
          <div class="column-body" id="column-body-1">
            <!-- Tasks in the "Обсуждение" column -->
          </div>
        </div>
        <div class="column" id="column-2">
          <div class="column-header">В процессе написания</div>
          <div class="column-body" id="column-body-2">
            <!-- Tasks in the "В процессе написания" column -->
          </div>
        </div>
        <div class="column" id="column-3">
          <div class="column-header">На Оценку</div>
          <div class="column-body" id="column-body-3">
            <!-- Tasks in the "На Оценку" column -->
          </div>
        </div>
        <div class="column" id="column-4">
          <div class="column-header">Оценка ТЗ</div>
          <div class="column-body" id="column-body-4">
            <!-- Tasks in the "Оценка ТЗ" column -->
          </div>
        </div>
        <div class="column" id="column-5">
          <div class="column-header">Согласование</div>
          <div class="column-body" id="column-body-5">
            <!-- Tasks in the "Согласование" column -->
          </div>
        </div>
        <div class="column" id="column-6">
          <div class="column-header">Задачи в работе</div>
          <div class="column-body" id="column-body-6">
            <!-- Urgent tasks in the "Задачи в работе" column -->
          </div>
        </div>
        <div class="column" id="column-7">
          <div class="column-header">Тестирование</div>
          <div class="column-body" id="column-body-7">
            <!-- Tasks in the "Тестирование" column -->
          </div>
        </div>
        <div class="column" id="column-8">
          <div class="column-header">Завершено</div>
          <div class="column-body" id="column-body-8">
            <!-- Tasks in the "Завершено" column -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for adding/editing a task -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModalLabel">Добавить/Редактировать задачу</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="taskTitle">Тема</label>
          <input type="text" class="form-control" id="taskTitle" placeholder="Введите тему задачи">
        </div>
        <div class="form-group">
          <label for="taskAssignee">Исполнитель</label>
          <input type="text" class="form-control" id="taskAssignee" placeholder="Введите имя исполнителя">
        </div>
        <div class="form-group">
          <label for="taskDescription">Описание</label>
          <textarea class="form-control" id="taskDescription" rows="3" placeholder="Введите описание задачи"></textarea>
        </div>
        <div class="form-group">
          <label for="taskComment">Комментарий</label>
          <textarea class="form-control" id="taskComment" rows="3" placeholder="Введите комментарий к задаче"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveTask()">Сохранить</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>

<script src="/static/scripts/trelloScript.js"></script>
</body>
</html>
