

h1 {
    text-align: center;
    color: #eee;
    margin-top: 80px;
}

form.add-request {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(57, 23, 128, 0.19);
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
}

form.add-request label {
    display: block;
    margin-bottom: 0.5em;
    color: #eee;
}

form.add-request input[type="text"],
form.add-request select {
    display: block;
    width: 100%;
    padding: 0.75em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    outline: none;
    background-color: #eee;
    color: #343a40;
}

form.add-request textarea {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    outline: none;
    background-color: #eee;
    color: #343a40;
}

form.add-request input[type="submit"] {
    display: block;
    width: 100%;
    padding: 0.75em;
    border: none;
    background-color: #eee;
    color: #343a40;
    font-weight: bold;
    border-radius: 0.5em;
    outline: none;
    transition: background-color 0.3s;
    cursor: pointer;
}

form.add-request input[type="submit"]:hover {
    background-color: #ddd;
}

.container {
    margin-top: 60px;
}
